name: Tests & Lint

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: shivammathur/setup-php@v2
      - run: composer install
      - run: composer lint # Jika ada PHP CS Fixer

  analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: shivammathur/setup-php@v2
      - run: composer install
      - run: composer analyse # Jika ada PHPStan/Psalm
